{% extends "index.html" %} {% import "macros.html" as macros %} {% block header
%}
{{ macros::site_header() }}
{% endblock header %} {% block title %} {% endblock title %} {% block main %}
<main class="site-main section-inner animated fadeIn faster">
  <article class="thin">
    <h1 class="title">{{ page.title }}</h1>

    <div class="content">{{ page.content | safe }}</div>
  </article>
  {% if page.extra.toc %}
  {{ macros::toc(page=page) }}
  {% endif %}

  {{ macros::post_nav(page=page) }}
</main>
{% endblock main %} {% block footer %} {{ macros::footer() }} {% endblock footer
%}
