{% extends "index.html" %} {% import "macros.html" as macros %} {% block header
%}
{{ macros::site_header() }}
{% endblock header %} {% block title %} {% endblock title %} {% block main %}

<div id="opensourcelist" class="animated fadeIn">
  <main class="site-main section-inner thin animated fadeIn faster">
    {% for year, pages in section.pages | group_by(attribute="year") %}
    <div id="home-center">
      <h1 class="title">{{section.title}}</h1>
      <nav class="site-nav">
        {% for page in pages %}
        <a href="{{ page.permalink }}">{{ page.title }}</a>
        <p class="description">{{ page.description }}</p>
        {% endfor %}
      </nav>
    </div>
    {% endfor %}
  </main>
</div>

{% endblock main %} {% block footer %} {{ macros::footer() }} {% endblock footer
%}
